HOST=127.0.0.1
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
FRONTEND_URL=http://localhost:5173
GOOGLE_AI_API_KEY=
GOOGLE_AI_MODEL=gemini-2.0-flash
